{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Lord Illidan</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum corporis eius animi facere debitis hic architecto reiciendis 
            voluptatum nemo suscipit explicabo ipsam, enim vel, iusto praesentium iure repellendus, assumenda consequatur.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/illidan.png" class="img-thumbnail">
    </div>
</div>
  

{{> footer }}
    